body {
  margin: 0;
  padding: 0;
  background:
    url('./assets/pattern.png'),
    linear-gradient(135deg, #232323 0%, #2c2c2c 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#container {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 80vw;
  min-width: 1000px;
  height: 95vh;
  min-height: 600px;
}

#users-container {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 20%;
  min-width: 200px;
  z-index: -1;
}

#users {
  position: relative;
  background-color: #363636;
  width: fit-content;
  max-width: 90%;
  margin-left: auto;
  margin-right: -1px;
  padding: 0;
  border-radius: 0.75eM 0 0 0.75eM;
  filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.175));
  border: 1px solid #ffffff08;
}

#users ul {
  padding: 1eM;
  margin: 0;
}

#users li {
  list-style-type: none;
  padding: 0.3eM 0;
  font-size: 1eM;
  font-weight: 600;
}

#main-container {
  position: absolute;
  right:0;
  width: 80%;
  height: 100%;
}

#message-container-outer {
  position: relative;
  /* 100% - 2 * border-radius - drop-shadow.width : */
  width: calc(100% - 1.6eM - 6px);
  height: calc(100% - 8eM);
  background-color: #323232;
  border-radius: 1eM;
  padding: 0;
  overflow: hidden;
  filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.175));
}

/* use inner container to clip scrollbar https://stackoverflow.com/a/22295604 */
#message-container-inner {
  height: 100%;
  overflow-y: auto;
  padding: 0 0.7eM;
}

#message-container-inner::-webkit-scrollbar {
  width: 1eM;
}

/* Track */
#message-container-inner::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
#message-container-inner::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
#message-container-inner::-webkit-scrollbar-thumb:hover {
  background: #888;
}

#chat {
  position: relative;
  width: 100%;
  height: 8eM;
}

#chat input[type=text]
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #4e4e4e;
  border: 2px solid #ffffff11;
  border-radius: 0.8eM;
  padding: 0.5eM 1eM;
  font-size: 1.2eM;
  color: white;
  outline: none;
  filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.175));
}

#chat input[type=text]:focus {
  outline: none;
  border: 2px solid #ffffff23;
  background-color: #525252;
}

input::placeholder {
  color: #a8a8a8;
}

.message {
  width: 60%;
  background-color: #4e4e4e;
  padding: 0.6eM;
  margin-top: 0.6eM;
  margin-bottom: 0.1eM;
  color: white;
  border-radius: 0.5eM;
  filter: drop-shadow(-3px 3px 2px #00000019);
}

/*
Make timestamp float to right bottom corner::after
https://css-tricks.com/float-an-element-to-the-bottom-corner/#aa-markup-and-layout
*/
.message-wrapper {
  display: flex;
}

.timestamp {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 1.2eM) 0);
  color: #bcbcbc;
  font-size: 0.9eM;
  margin-right: 0.3eM;
}

.message p {
  font-size: 1.2eM;
  margin: 0;
  padding: 0;
}

.own {
  margin-left: auto;
  margin-right: 0;
}

.other {
  margin-left: 0;
  margin-right: auto;
}

.author {
  font-size: 1eM;
  font-weight: 600;
  margin: 0.1eM 0 0.2eM;
}

.color-0 {
  color: #fbd691
}

.color-1 {
  color: #fffeb4
}

.color-2 {
  color: #c1fb9d
}

.color-3 {
  color: #9cfaa5
}

.color-4 {
  color: #bbf8ff
}

.color-5 {
  color: #a3b2fe
}

.color-6 {
  color: #d6b3ff
}

.color-7 {
  color: #ffc1d5
}


